body {
    width: 50%;
    margin: 0 auto;
}
.dicewrap {
    text-align: center;
}

.dice{
    position: relative;
    display: inline-block;
    height: 200px;
    width: 200px;
    background-color: black;
    margin: 200px 25px 75px 25px;
}


.dots {
    position: absolute;
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.centerdot {
    display: none;
    top: 75px;
    right: 75px;
}

.rightcorner {
    display: none;
    top: 15px;
    right: 15px;
}
.leftcorner {
    display: none;
    top: 15px;
    left: 15px;
}

.rightbottom {
    display: none;
    bottom: 15px;
    right: 15px;
}

.leftbottom {
    display: none;
    bottom: 15px;
    left: 15px;
}

.sideright {
    display: none;
    top: 75px;
    right: 15px;
}
.sideleft {
    display: none;
    top: 75px;
    left: 15px;
}

button {
    height: 50px;
    width: 150px;
    background-color: yellow;
    margin: 0 auto;
    font-size: 26px;
}

.shake {
    -webkit-animation-name: shake;
    animation-name: shake;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes shake {
    0%, 100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

@keyframes shake {
    0%, 100% {
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        -ms-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(10px, 0, 0);
        -ms-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

